# Fichiers de compilation Maven
target/

# Données locales (Mails, Mots de passe, Pièces jointes)
storage/

# Uploads temporaires
file-uploads/

# Fichiers IDE (IntelliJ, Eclipse, VSCode)
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs
*.log
